{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"> 
    
    <link href="{% static 'main2.css' %}" rel="stylesheet">

    <link href="{% static 'fontawesome/css/all.css'%}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    
    
    <title>Gtech</title>
  </head>
  <body>
    <!--NAVBAR-->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span></span>
            <span></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <!--./END NAVBAR-->


    {% block content %}

    
    {% endblock %}





    <!--FOOTER-SECTION-->
    
    <footer class="text-center text-white mt-0">
      <div class="social-media pt-5 pb-5">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="http://twitter.com/molymtech" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="http://linkedin.com/in/gerald-ochieng-05774b162" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    
      <!-- Copyright -->
      <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://molymtech.co.ke/">molymtech.co.ke</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!--./END FOOTER SECTION-->

























    </body>
</html>
