{% extends 'common.html' %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>The Best Software Solutions</h1>
          <h2>Where innovation meets excellence</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'images/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta mt-4">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="text-center">
          <h3>Begin the journey to grow your business</h3>
          <a class="cta-btn " href="#">Get started</a>
          
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->


    {% endblock %}
    
</body>
</html>